/*



*/
.flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.links:hover {
  text-decoration: overline;
  text-decoration: underline;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  max-width: 100%;
}
html {
  font-size: 62.5%;
}
html,
body {
  max-width: 100%;
  font-family: 'Roboto', sans-serif;
  color: #2d3048;
}
h1,
h3 {
  font-family: 'Herr Von Muellerhoff', cursive;
  color: #2d3048;
}
h2,
h4 {
  font-Family: 'Roboto', sans-serif;
  text-transform: uppercase;
  color: #FFFFFF;
}
a {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}
/* The sidebar menu */
.rightContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 25%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #85d4d1;
  overflow-x: hidden;
  padding-top: 1rem;
  text-align: center;
}
.rightContainer img {
  height: 25vh;
  margin: 1rem auto;
}
.rightContainer h1 {
  font-size: 9rem;
  margin-bottom: 0.8rem;
}
.rightContainer h2 {
  font-size: 2rem;
  margin-bottom: 0.1rem;
}
.rightContainer p {
  font-size: 1.8rem;
}
.rightContainer nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.rightContainer nav a {
  width: 100%;
  height: 10%;
  margin: 1rem auto;
  padding: 2rem 0 3.5rem 0;
  text-decoration: none;
  font-size: 2rem;
  color: #584669;
}
.rightContainer nav a:hover {
  background-color: #FFFFFF;
  color: #584669;
}
.rightContainer .slinks {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2rem;
  color: #2d3048;
  margin: 1% auto;
}
.rightContainer .slinks a {
  font-size: 3.5rem;
  text-decoration: none;
  color: #2d3048;
}
.rightContainer .slinks a:hover {
  color: #584669;
  text-decoration: overline;
  text-decoration: underline;
}
main {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.leftContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 75%;
}
.leftContainer img {
  width: 100%;
  margin-bottom: 4 rem;
}
.leftContainer #about {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  border-bottom: 2px solid #584669;
}
.leftContainer #about h3 {
  font-size: 8rem;
  margin-top: 3rem;
}
.leftContainer #about p {
  font-size: 2rem;
  margin: 2rem;
}
.leftContainer #portfolio {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  border-bottom: 2px solid #584669;
}
.leftContainer #portfolio h3 {
  font-size: 9rem;
  margin-top: 3rem;
}
.leftContainer #portfolio .table {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 3% 0 0;
  text-align: center;
}
.leftContainer #portfolio .table .cell {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 32%;
  margin: 1% auto;
}
.leftContainer #portfolio .table .cell .icon {
  color: #d4b8eb;
  width: 30%;
  font-size: 8rem;
}
.leftContainer #portfolio .table .cell .tabletext {
  width: 70%;
  color: #584669;
  font-size: 1.5rem;
}
.leftContainer #portfolio p {
  font-size: 2rem;
}
.leftContainer #portfolio button {
  margin-top: 2rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 350px;
  height: 4.5rem;
  background-color: #85d4d1;
  color: #584669;
  text-decoration: none;
  border: none;
  border-radius: 1px;
  font-size: 2.5rem;
  text-transform: uppercase;
}
.leftContainer #portfolio button:hover {
  background-color: #584669;
  color: #85d4d1;
}
.leftContainer #resume {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 100%;
  border-bottom: 2px solid #584669;
}
.leftContainer #resume h3 {
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-size: 7rem;
}
.leftContainer #resume p {
  font-size: 3rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.leftContainer #resume button {
  margin-top: 2rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 350px;
  height: 4.5rem;
  background-color: #85d4d1;
  color: #584669;
  text-decoration: none;
  border: none;
  border-radius: 1px;
  font-size: 2.5rem;
  text-transform: uppercase;
}
.leftContainer #resume button:hover {
  background-color: #584669;
  color: #85d4d1;
}
.leftContainer #contact {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  border-bottom: 2px solid #584669;
}
.leftContainer #contact h3 {
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-size: 7rem;
}
.leftContainer #contact p {
  font-size: 3rem;
}
form {
  width: 75%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
form label {
  color: #584669;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 1.6rem;
}
form input {
  width: 100%;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  box-sizing: border-box;
  border-bottom: 1px solid #584669;
  background-color: #d4b8eb;
  color: #584669;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  outline: none;
}
form input:focus {
  border: 1px dotted #d4b8eb;
}
form textarea {
  width: 100%;
  height: 20rem;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  box-sizing: border-box;
  border: 1px solid #584669;
  background-color: #d4b8eb;
  color: #584669;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  outline: none;
}
