.flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.links {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 2rem;
  text-decoration: none;
  color: #FFFFFF;
}
.links:hover {
  color: #696969;
  text-decoration: overline;
  text-decoration: underline;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  max-width: 100%;
}
html {
  font-size: 62.5%;
}
html,
body {
  max-width: 100%;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-style: normal;
  background-color: #000000;
  color: #FFFFFF;
}
h1,
h3 {
  font-family: 'Liu Jian Mao Cao', cursive;
  color: #c0c0c0;
}
h2,
h4,
h5 {
  font-family: 'Liu Jian Mao Cao', cursive;
  color: #c0c0c0;
}
header {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  border-bottom: 2px solid #696969;
  margin: 2rem auto;
}
header h1 {
  width: 100%;
  font-size: 6rem;
  margin-bottom: 2rem;
}
header nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding-bottom: 1rem;
}
header nav a {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 2rem;
  text-decoration: none;
  color: #FFFFFF;
}
header nav a:hover {
  color: #696969;
  text-decoration: overline;
  text-decoration: underline;
}
.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.container .aSide {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.container .aSide #contact {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  margin-left: 3%;
}
.container .aSide #contact h3 {
  font-size: 4rem;
  margin-bottom: 3%;
}
.container .aSide #contact p {
  font-size: 1.4rem;
  width: 100%;
  margin-bottom: 5%;
}
.container .aSide #contact form label {
  font-size: 1.6rem;
}
.container .aSide #contact form input {
  width: 100%;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  box-sizing: border-box;
  border-bottom: 1px solid #c0c0c0;
  background-color: #000000;
  color: #FFFFFF;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  outline: none;
}
.container .aSide #contact form input:focus {
  border: 1px dotted #c0c0c0;
}
.container .aSide #contact form textarea {
  width: 100%;
  height: 20rem;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  box-sizing: border-box;
  border: 1px solid #c0c0c0;
  background-color: #000000;
  color: #FFFFFF;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  outline: none;
}
.container .bSide {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
.container .bSide .jellyb {
  margin-top: 13rem;
}
.container .bSide .jellyc {
  margin-top: 5rem;
}
.container .bSide .jellyd {
  margin-top: 12rem;
}
.container .wordBox {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 3%;
  margin-bottom: 5%;
  width: 90%;
  padding-top: 5%;
}
.container .wordBox h2 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}
.container .wordBox p {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}
.container .wordBox button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100px;
  height: 25px;
  background-color: #000000;
  color: #FFFFFF;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-style: italic;
  text-decoration: none;
  border: 1px solid #c0c0c0;
  border-radius: 5px;
  margin-bottom: 2rem;
}
.container .wordBox button:hover {
  background-color: #FFFFFF;
  color: #000000;
}
footer {
  width: 100%;
}
footer .slinks {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2rem;
  color: #c0c0c0;
  margin: 3% auto;
}
footer h4 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
  margin-bottom: 2%;
}
.portContain {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin-bottom: 15%;
}
.portContain h2 {
  font-size: 6rem;
  margin: 3% 0 5% 0;
}
.portContain p {
  font-size: 2rem;
}
