* {
  box-sizing: border-box;
  max-width:100%;
 // border: 1px dotted lime;
}

html {
  font-size: 62.5%;
}

html, body {
  max-width:100%;
  font-family: @fontFamBody;
  color: @bColor;
}

h1, h3 {
   font-family: @fontFamHead;
   color: @tColor
}

h2, h4 {
  font-Family: @fontFamBody;
  text-transform: uppercase;
  color: @hColor;
}

a {
  font-family: @fontFamBody;
  text-transform: uppercase;
  text-decoration: none;

}