main{
    display: flex;
    justify-content:space-between;
    width:100%;
}//closes main

.leftContainer{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    width:75%;
    img{
        width:100%;
        margin-bottom:4 rem
    }//closes img
    
    #about{
        .flexColumn();
        width:100%;
        margin:0 auto;
        border-bottom: 2px solid @accentDark;

        h3{
            font-size:8rem;
            margin-top:3rem;
        }//closes h3

        p{
            font-size: 2rem;
            margin: 2rem;
        }
    }//closes about

    #portfolio{
        .flexColumn();
        width:100%;
        margin:0 auto;
        border-bottom: 2px solid @accentDark;

        h3{
            font-size:9rem;
            margin-top:3rem;
        }//closes h3

        .table{
            width: 100%;
            display:flex;
            flex-wrap:wrap;
            justify-content:space-evenly;
            align-items:center;
            margin:0 3% 0 0;
            text-align:center;

            .cell{
                .flexRow();
                width:32%;
                margin:1% auto;

                .icon{
                    color:@accentLight;
                    width:30%;
                    font-size: 8rem;
                }//closes icon

                .tabletext{
                    width:70%;
                    color:@accentDark;
                    font-size:1.5rem;
                }
            }//closes cell

        }//closes table

        p{
            font-size: 2rem;
        }//closes p

        button{
            margin-top:2rem;
            margin-bottom:3rem;
            .customBtn(350px, 4.5rem, @seagreen, @darkpurple);
            font-size:2.5rem;
            text-transform:uppercase;
            
        }//closes button
    }//closes portfolio

    #resume{
        .flexColumn();
        width:100%;
        border-bottom: 2px solid @accentDark;

        h3{
            margin-top:3rem;
            margin-bottom:2rem;
            font-size:7rem
        }//closes h3

        p{
            font-size: 3rem;
            margin-top: 2rem;
            margin-bottom:1rem;
        }//closes p

        button{
            margin-top:2rem;
            margin-bottom:3rem;
            .customBtn(350px, 4.5rem, @seagreen, @darkpurple);
            font-size:2.5rem;
            text-transform:uppercase;
            
        }//closes button
    }//closes resume

    #contact{
        .flexColumn();
        width:100%;
        margin:0 auto;
        border-bottom: 2px solid @accentDark;

        h3{
            margin-top:3rem;
            margin-bottom:2rem;
            font-size:7rem
        }//closes h3

        p{
            font-size: 3rem;
        }//closes p
       
    }//closes contact

}//closes left container


