.container {
    display:flex;
    justify-content:space-between;
    align-items:flex-start;

    .aSide{
        width:60%;

    }//closes aSide

    .bside{
        display:flex;
        flex-direction:column;
        align-items:flex-end;
        width:40%;
        
    }//closes bSide
}//closes container