.flexColumn {
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;
    text-align:center;
}

.flexRow {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    text-align:center;
}

.links {
   
    &:hover {
        
        text-decoration: overline;
        text-decoration: underline;
    }
}//closes links

.customBtn(@width, @height, @btncolor, @btntext){
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    width:@width;
    height:@height;
    background-color:@btncolor;
    color:@btntext;
    text-decoration:none;
    border:none;
    border-radius:1px;

    &:hover{
        background-color:@btntext;
        color:@btncolor;
    }
}