header {
    width:95%;
    .flexColumn();
    border-bottom:2px solid @dimgray;
    margin:2rem auto;
    


        h1{
            width:100%;
            font-size:6rem;
            margin-bottom:2rem;
        }//closes h1

        nav{
            width:100%;
            .flexRow();
            padding-bottom:1rem;

            a{
                .links();
            }//closes a
        }//closes nav

}//closes header