// Font assignments 
@fontFamHead: 'Herr Von Muellerhoff', cursive;
@fontFamBody: 'Roboto', sans-serif;


// Colors
@white: #FFFFFF;
@black: #000000;
@grey: #747881;
@silver: #bfbfbf;
@seagreen: #85d4d1;
@seagreenshadow: #79c1be;
@darkpurple: #584669;
@lightpurple: #d4b8eb;
@navy: #2d3048;

//Color Assignments
@borderColor: @grey;
@altBorderColor: @silver;
@mainC: @seagreen;
@mainCShadow: @seagreenshadow;
@accentDark: @darkpurple;
@accentLight: @lightpurple;
@tColor: @navy;
@hColor: @white;
@bColor: @navy;




//media query variables
@phone: ~"(max-width:560px)";
@tablet: ~"(max-width:800x)";



/*



*/